{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel='stylesheet'>
    <title>Home</title>
</head>
<body>
    <h1>this is a home page</h1>
    <form method='POST' action="{% url 'welcome' %}" accept=''>
        {% csrf_token %}
        USERNAME<input type='text' name='username'><br><br>
        PASSWORD<input type='password' name='password'><br><br>
        <input type='submit' value='send'>
        <button><a href="{% url 'about' %}">Next page</a></button>
    </form>
    <table border='1'>
        <tr>
            <td>USERNAME</td>
            <td>PASSWORD</td>
            <td>DELETE</td>
            <td>UPDATE</td>
        </tr>
        {% for dataselect in data %}
        <tr>
            <td>{{ dataselect.username }}</td>
            <td>{{ dataselect.password }}</td>
            <td><button><a href="{% url 'delete' id=dataselect.id %}">Delete</a></button></td>
            <td><button><a href="{% url 'edit' id=dataselect.id %}">Update</a></button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>